*.log
*.csv
*.h5
*.zip
*.ipynb
*.jpg
*.npz
*.npy
*.pkl
*.txt
!requirements.txt
*.pt
*.tsv
*.json
*.zip
*.png
**/results/**
repository/*
config_test/*
configlocal/*
.vscode/*
logfiles/
**/__pycache__/**
.VSCodeCounter/*